<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x fixed-top" [ngClass]="currentBg()">
  <!-- Brand -->
  <a routerLink="/" class="navbar-brand">Task Management</a>

  <!-- Sidenav toggle -->
  <div class="navbar-nav align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/projects" class="nav-link">Project</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" class="nav-link">User</a>
      </li>
      <li class="nav-item">
        <a routerLink="/features" class="nav-link">Feature</a>
      </li>
      <li class="nav-item">
        <a routerLink="/roles" class="nav-link">Role</a>
      </li>
    </ul>
    <div class="navbar-nav align-items-center ml-auto">
      <div class="nav-item mr-3 ml-1">|</div>

      <div ngbDropdown class="demo-navbar-user nav-item">
        <a ngbDropdownToggle class="nav-link" href="javascript:void(0)">
          <span class="d-inline-flex align-items-center align-middle">
            <img src="assets/profile.png" alt class="d-block ui-w-30 rounded-circle">
            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">syed</span>
          </span>
        </a>
        <div ngbDropdownMenu>
          <a routerLink="/profile" class="dropdown-item"><i class="ion ion-ios-person text-lightest"></i> &nbsp;
            My profile</a>
          <a routerLink="/change-password" class="dropdown-item"><i class="ion ion-md-settings text-lightest"></i>
            &nbsp;
            Account settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="OnLogOut()"><i class="ion ion-ios-log-out text-danger"></i> &nbsp;
            Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>