<h4 class="d-flex">
  <ol class="breadcrumb font-weight-bold m-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Tasks</a></li>
    <li class="breadcrumb-item">{{task.data.taskCode || "" }}</li>
  </ol>
</h4>
<div class="row">
  <div class="col-sm-12 card ">
    <div class="card-body mb-4">
      <h4 class="text-capitalize font-weight-bold">{{task.data.title || "" }}</h4>
      <div class="card-body p-3">
        <h5>Description</h5>
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <input *ngIf="!quillShow" type="text" readOnly class="form-control" placeholder="Add Description"
              (click)="onInputClick()">
            <quill-editor placeholder="Add Description" [(ngModel)]="quillData" *ngIf="quillShow">
              <div quill-editor-toolbar>
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-script" value="sub"></button>
                  <button class="ql-script" value="super"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>
                  <button class="ql-blockquote"></button>
                  <button class="ql-code-block"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-indent" value="-1"></button>
                  <button class="ql-indent" value="+1"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-direction" value="rtl"></button>
                  <select class="ql-align"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                  <button class="ql-video"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-clean"></button>
                </span>
              </div>
            </quill-editor>
            <div class="mt-3" *ngIf="quillShow">
              <a class="btn btn-primary" (click)="save()">Save</a>&nbsp;<a class="btn btn-default"
                (click)="Cancel()">Cancel</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Attached files -->
      <div class="card-body p-3">
        <h5>Attached files</h5>
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-12 col-xl-6">
            <div class="media-body">
              <span *ngIf="task.loading">
                <app-spinner></app-spinner>
              </span>
              <div class="project-attachment-filename" *ngIf="!task.loading">
                <div [innerHTML]="task.data.attachment[0]"></div>
              </div>
              <div class="mt-3">
                <span><a class="btn btn-primary btn-sm">View</a>
                  &nbsp;</span>
                <a class="btn btn-primary btn-sm">Download</a>
              </div>

            </div>
          </div>
        </div>
        <!-- / Attached files -->
      </div>

      <div class="nav-tabs-top mb-4 ">
        <div class="card-body p-3">
          <h5>Comments</h5>
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-12 col-xl-12 d-flex">
              <span class="col-sm-0">
                <img src="assets/profile.png" class="ui-w-40 rounded-circle" alt>
              </span>
              <span class="col-sm-12 mr-5">
                <input *ngIf="!quillcommentShow" type="text" readOnly class="form-control w-98" placeholder="Add Description"
                  (click)="onInputClickComment()">
                <quill-editor placeholder="Add Description" [(ngModel)]="comment" *ngIf="quillcommentShow">
                  <div quill-editor-toolbar>
                    <span class="ql-formats">
                      <select class="ql-font"></select>
                      <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                      <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                      <select class="ql-color"></select>
                      <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-script" value="sub"></button>
                      <button class="ql-script" value="super"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-header" value="1"></button>
                      <button class="ql-header" value="2"></button>
                      <button class="ql-blockquote"></button>
                      <button class="ql-code-block"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <button class="ql-indent" value="-1"></button>
                      <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-direction" value="rtl"></button>
                      <select class="ql-align"></select>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-link"></button>
                      <button class="ql-image"></button>
                      <button class="ql-video"></button>
                    </span>
                    <span class="ql-formats">
                      <button class="ql-clean"></button>
                    </span>
                  </div>
                </quill-editor>

                <div class="mt-3" *ngIf="quillcommentShow">
                  <a class="btn btn-primary" (click)="postComment()">Send</a>&nbsp;<a class="btn btn-default"
                    (click)="Cancel()">Cancel</a>
                </div>
              </span>
            </div>
          </div>
        </div>

        <!-- Attached files -->
        <div class="card-body p-3">
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-12 col-xl-12">
              <div class="media-body">
                <span *ngIf="viewComment.loading">
                  <app-spinner></app-spinner>
                </span>
                <div class="project-attachment-filename" *ngIf="!viewComment.loading">
                  <div *ngFor="let view of viewComment.data">
                    <div class="bg-lighter mb-2  p-2 rounded">
                      <span>
                        <img src="assets/profile.png" class="ui-w-40 rounded-circle" alt>
                        <span class="text-secondry small text-nowrap pl-1 mt-2">{{view.createdBy}}&nbsp;
                          &nbsp;{{view.createdAt}}</span>
                      </span>
                      <span class="btn-group" ngbDropdown>
                        <button type="button"
                          class="btn btn-default btn-xs rounded-pill icon-btn borderless lg-btn-vertical hide-arrow"
                          ngbDropdownToggle><i class="ion ion-ios-more"></i></button>
                        <div ngbDropdownMenu>
                          <a class="dropdown-item">Edit</a>
                          <a class="dropdown-item" (click)="removeComment(view._id)">Remove</a>
                        </div>
                      </span>
                      <div class="p-3" [innerHTML]="view.attachments[0]"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- / Attached files -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div [innerHTML]=" viewComment.data.attachment[0]">
                    </div> -->