<div class="card">
    <div class="row no-gutters row-bordered">
        <div class="d-flex col-md align-items-center">
            <span *ngIf="loading">
                <app-spinner></app-spinner>
            </span>
            <div *ngIf="!loading" class="card-body d-block text-body">
                <div class="text-muted small line-height-1">Role</div>
                <div class="text-xlarge">{{userData.roleName||""}}</div>
                <div class="text-xlarge">{{userData.roleCode||""}}</div>
                <a class="btn btn-primary btn-sm" (click)="onEdit(userData._id||'')">Edit</a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!loading">{{userData.createdBy||""}}</td>
                </tr>
                <tr>
                    <td>Role Code:</td>
                    <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!loading">{{userData.roleCode||""}}</td>
                </tr>
                <tr>
                    <td>Role Name:</td>
                    <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!loading">{{userData.roleName||""}}</td>
                </tr>
                <tr>
                    <td>Feature List:</td>
                    <td><button type="button" class="btn btn-primary d-block"
                            (click)="viewFeatures(userData.featureList||'')">View
                            Features</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>