<sidenav [orientation]="orientation" [ngClass]="getClasses()">

  <!-- Inner -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">

    <sidenav-router-link icon="ion ion-ios-desktop" route="/dashboard" [active]="isActive('/')">Dashboard
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-ios-construct" route="/projects" [active]="isActive('/')">Projects
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-ios-document" route="/tasks" [active]="isActive('/')">Tasks
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-ios-list" route="/users" [active]="isActive('/')">User
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-ios-list" route="/features" [active]="isActive('/')">Feature
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-ios-list" route="/roles" [active]="isActive('/')">Role
    </sidenav-router-link>

    <!-- <sidenav-menu icon="ion ion-ios-albums" text="user">
      <sidenav-router-link route="/add-user">
        Add</sidenav-router-link>
      <sidenav-router-link route="/list-user">
        List</sidenav-router-link>
    </sidenav-menu>

    <sidenav-menu icon="ion ion-ios-albums" text="Feature">
      <sidenav-router-link route="/add-feature" class="dropdown-item">
        Add</sidenav-router-link>
      <sidenav-router-link route="/view-feature" class="dropdown-item">
        View</sidenav-router-link>
      <sidenav-router-link route="/features-list" class="dropdown-item">
        List</sidenav-router-link>
    </sidenav-menu>

    <sidenav-menu icon="ion ion-ios-albums" text="Role">
      <sidenav-router-link route="/add-role" class="dropdown-item">
        Add</sidenav-router-link>
      <sidenav-router-link route="/view-role" class="dropdown-item">
        View</sidenav-router-link>
      <sidenav-router-link route="/roles-list" class="dropdown-item">
        List</sidenav-router-link>
    </sidenav-menu> -->
  </div>
</sidenav>