<div class="authentication-wrapper authentication-2 px-4">
    <div class="authentication-inner py-5 d-flex justify-content-center">

        <!-- Form -->
        <form class="card" [formGroup]="formGroup">
            <div class="p-4 p-sm-5" style="margin-top:10%">

                <!-- Logo -->
                <div class="d-flex justify-content-center display-1 pb-2 mb-4">
                    storeking
                </div>
                <!-- / Logo -->

                <h5 class="text-center font-weight-normal mb-4">Reset Your Password</h5>

                <hr class="mt-0 mb-4">

                <p>
                    Enter your email address and we will send you an OTP to reset your password.
                </p>

                <div class="form-group">
                    <input name="email" type="text" formControlName="email" class="form-control"
                        placeholder="Enter your email address">
                </div>

                <button type="button" class="btn btn-primary" (click)="onSubmit()">Send password reset
                    email</button>

            </div>
        </form>
        <!-- / Form -->

    </div>
</div>


<!-- Modal template -->
<ng-template #OTPModal>
    <form action="" [formGroup]="otpGroup">
        <div class="modal-header">
            <h5 class="modal-title">
                OTP Validation
            </h5>
        </div>
        <div class="modal-body">
            <input name="opt" type="number" formControlName="otp" formControlName="otp" class="form-control"
                placeholder="Enter Valid OTP">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="onOTPValidate()">Validate</button>
        </div>
    </form>
</ng-template>

<ng-template #restPassword>
    <form action="" [formGroup]="resetGroup">
        <div class="form-group">
            <label class="form-label">New password</label>
            <input type="text" formControlName="newpsw" class="form-control">
        </div>

        <div class="form-group">
            <label class="form-label">Repeat new password</label>
            <input type="password" formControlName="repeatnewpsw" class="form-control">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSavePassword()">Save Password</button>
        </div>
    </form>
</ng-template>