<h4 class="font-weight-bold py-3 mb-4">
  Add Task
</h4>

<div class="card">
  <div class="card-body">
    <form action="" [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Parent ID<span class="text-danger">*</span></label>
          <input type="text" formControlName="id" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Type<span class="text-danger">*</span></label>
          <input type="text" formControlName="type" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Title<span class="text-danger">*</span></label>
          <input type="email" formControlName="title" class="form-control mb-1">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Description<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="description" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Member<span class="text-danger">*</span></label>
          <ng-select [items]="user.data" [closeOnSelect]="true" bindLabel="fName" bindValue="_id" formControlName="user">
          </ng-select>
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Priority</label>
          <select formControlName="priority" class="custom-select">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Effort Type<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="effortType" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Effort Value<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="effortValue" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Attachment<span class="text-danger">*</span></label>
          <input type="file" formControlName="attachment" class="">
        </div>
      </div>
    </form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label">From-To<span class="text-danger">*</span></label>
        <custom-daterange-picker [(ngModel)]="date"></custom-daterange-picker>
      </div>
      <div class="form-group col-md-6 row">
        <div class="col-md-6">
          <label class="form-label">From<span class="text-danger">*</span></label>
          <ngb-timepicker [(ngModel)]="time.from"></ngb-timepicker>
        </div>
        <div class="col-md-6">
          <label class="form-label">To<span class="text-danger">*</span></label>
          <ngb-timepicker [(ngModel)]="time.to"></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-right mt-3">
  <button type="button" class="btn btn-primary" (click)="onApiCall()">
    <span>
      Add</span>
  </button>&nbsp;
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>