<h4 class="font-weight-bold p-3 mb-4">
  Add Task
</h4>

<div class="card p-2">
  <form action="" [formGroup]="formGroup">
    <div class="card-header">
      <div class="form-group col-md-6">
        <label class="form-label">Project:<span class="text-danger">*</span></label>
        <!-- <select formControlName="project" class="custom-select" formControlName="project">
          <option [value]="project.data._id">{{project.data.nameOfProject}}</option>
        </select> -->
        <h4 class="text-capitalize">{{project.data.nameOfProject}}</h4>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Type:<span class="text-danger">*</span></label>
        <select formControlName="type" class="custom-select" formControlName="type">
          <option value="Bug">Bug</option>
          <option value="Task">Task</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="form-label">Summary<span class="text-danger">*</span></label>
          <input type="email" formControlName="title" class="form-control mb-1">
        </div>
        <div class="form-group col-md-12">
          <label class="form-label">Description</label>
          <quill-editor formControlName="description">
            <div quill-editor-toolbar>Add Description</div>
          </quill-editor>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Member<span class="text-danger">*</span></label>
          <ng-select [items]="user.data" [closeOnSelect]="true" bindLabel="fName" bindValue="_id"
            formControlName="user">
          </ng-select>
        </div>

        <div class="form-group col-md-6">
          <label class="form-label">Priority</label>
          <select formControlName="priority" class="custom-select">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Effort Type<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="effortType" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Effort Value<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="effortValue" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="form-label w-100">Upload Documents</label>
          <quill-editor formControlName="attachment">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
              </span>
            </div>
          </quill-editor>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Start Date<span class="text-danger">*</span></label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" #d="ngbDatepicker" name="dp" ngbDatepicker
                formControlName="startDate" [displayMonths]="1">
              <div class="input-group-append">
                <button class="input-group-text" (click)="d.toggle()" type="button">
                  <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">End Date<span class="text-danger">*</span></label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" #b="ngbDatepicker" name="dp" ngbDatepicker
                formControlName="endDate" [displayMonths]="1">
              <div class="input-group-append">
                <button class="input-group-text" (click)="b.toggle()" type="button">
                  <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">From<span class="text-danger">*</span></label>
          <ngb-timepicker formControlName="timeFrom" [spinners]="OFF"></ngb-timepicker>
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">To<span class="text-danger">*</span></label>
          <ngb-timepicker formControlName="timeTo" [spinners]="OFF"></ngb-timepicker>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="text-right m-3">
  <button type="button" class="btn btn-primary" (click)="onApiCall()">
    <span>
      Add</span>
  </button>&nbsp;
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>