<h4 class="font-weight-bold py-3 mb-4" *ngIf="taskData">
  Edit Task <span class="text-muted">#{{userData.userCode||""}</span>
</h4>
<h4 class="font-weight-bold py-3 mb-4" *ngIf="!taskData">
  Add Task
</h4>

<div class="card mb-2">
  <div class="card-body pb-2">
    <form action="" [formGroup]="formGroup">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Parent ID<span class="text-danger">*</span></label>
          <input type="text" formControlName="fname" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Type<span class="text-danger">*</span></label>
          <input type="text" formControlName="lname" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Title<span class="text-danger">*</span></label>
          <input type="email" formControlName="email" class="form-control mb-1">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Description<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="mobileno" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Effort Type<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="mobileno" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">effort Value<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="mobileno" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">Attachment<span class="text-danger">*</span></label>
          <input type="mobile" formControlName="mobileno" class="form-control">
        </div>
      </div>
    </form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label">Created-Dedline<span class="text-danger">*</span></label>
        <custom-daterange-picker [(ngModel)]="date"></custom-daterange-picker>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Created-Dedline<span class="text-danger">*</span></label>
        <custom-daterange-picker [(ngModel)]="date"></custom-daterange-picker>
      </div>
    </div>
  </div>
</div>

<div class="text-right mt-3">
  <button type="button" class="btn btn-primary" (click)="onApiCall()">
    <span *ngIf="!taskData">
      Add</span><span *ngIf="taskData">Edit</span>
  </button>&nbsp;
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>