<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Roles</div>
    <button type="button" class="btn btn-primary rounded-pill d-block" (click)="addRole()"><span
            class="ion ion-md-add"></span>&nbsp;Add
        Role</button>
</h4>


<div class="card">

    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Total Number Of Roles: &nbsp;
                <span>{{userData.length}}</span>
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm d-inline-block w-auto float-sm-right"
                    placeholder="Search...">
            </div>
        </div>

    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table">
            <thead>
                <tr>
                    <th class="text-nowrap cursor-pointer">
                        ID<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Name<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Features<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Created By<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Created On<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-center cursor-pointer">
                        Actions<i class="ion text-muted ml-2"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userData">
                    <td class="align-middle">{{user.roleCode}}</td>
                    <td class="align-middle">{{user.roleName}}</td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-primary d-block"
                            (click)="viewFeatures(user.featureList)">View
                            Features</button>
                    </td>
                    <td class="align-middle">{{user.createdBy}}</td>
                    <td class="align-middle">{{user.createdOn |date:'dd/MM/yyyy'}}</td>
                    <td class="text-center text-nowrap align-middle">
                        <a class="btn btn-danger btn-sm">Block</a>&nbsp;
                        <a class="btn btn-primary btn-sm" (click)="onView(user._id)">View</a>&nbsp;
                        <a (click)="onDelete(user._id)" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted"> totalPages</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>

<!-- [collectionSize]="totalItems"
  [pageSize]="perPage"
  [(page)]="currentPage"
  (pageChange)="update()" -->