<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold">
    <div>Roles</div>
    <button type="button" class="btn btn-primary rounded-pill d-block" (click)="addRole()"><span
            class="ion ion-md-add"></span>&nbsp;Add
        Role</button>
</h4>

<!-- Filters -->
<div class="ui-bordered px-4 pt-4 mb-4 row">
    <div class="form-group col-md-4">
        <label class="form-label">Created On</label>
        <custom-daterange-picker [(ngModel)]="date"></custom-daterange-picker>
    </div>
    <div class="col-md-6 mb-4">
        <label class="form-label">Role</label>
        <select class="custom-select" [(ngModel)]="roleName">
            <option *ngFor="let r of role.data" [value]="r.roleName">{{r.roleName}}
            </option>
        </select>
    </div>

    <div class="col-md col-xl-2 mb-4">
        <label class="form-label d-none d-md-block">&nbsp;</label>
        <button type="button" class="btn btn-secondary btn-block" (click)="onFilter()">Filter</button>
    </div>
</div>
<!-- / Filters -->
<h4 *ngIf="this.role.data.length==0" class="card text-center px-5 py-2">
    No Data Found
</h4>

<div class="card" *ngIf="this.role.data.length!=0">

    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Total Number Of Roles: &nbsp;
                <span *ngIf="role.loading">
                    <app-spinner></app-spinner>
                </span>
                <span *ngIf="role.loading">{{role.data.length||0}}</span>
            </div>
        </div>

    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table text-center text-capitalize">
            <thead>
                <tr>
                    <th class="text-nowrap cursor-pointer">
                        ID<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Role Name<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Features<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Created By<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Created On<i class="ion text-muted ml-2"></i>
                    </th>
                    <th class="text-center cursor-pointer">
                        Actions<i class="ion text-muted ml-2"></i>
                    </th>
                </tr>
            </thead>
            <span *ngIf="role.loading">
                <app-spinner></app-spinner>
            </span>
            <tbody *ngIf="!role.loading">
                <tr *ngFor="let role of role.data">
                    <td class="align-middle">{{role.roleCode||""}}</td>
                    <td class="align-middle" (click)="onView(role._id||'')"><a
                            href="javascript(0)">{{role.roleName||""}}</a></td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-primary align-middle"
                            (click)="viewFeatures(role.featureList||'')">View
                            Features</button>
                    </td>
                    <td class="align-middle">{{role.createdBy ||""}}</td>
                    <td class="align-middle">{{role.createdOn |date:'dd/MM/yyyy'||""}}</td>
                    <td class="text-nowrap align-middle">
                        <a class="btn btn-primary btn-sm" (click)="onView(role._id||'')">View</a>&nbsp;
                        <a (click)="onDelete(role._id||'')" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted"> Total Pages:10</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination size="sm" [collectionSize]="role.data.length" [pageSize]="10" [page]="10"
                    class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>