<div class="media align-items-center py-3 mb-3">
    <img src="assets/profile.png" alt="" class="d-block ui-w-100 rounded-circle">
    <div class="media-body ml-4">
        <!-- <span *ngIf="loading">
            <app-spinner></app-spinner>
        </span> -->
        <h4 class="font-weight-bold mb-0">{{userData.fName||""}}&nbsp;{{userData.lName||""}}<div
                class="text-muted font-weight-normal">{{userData.email||""}}</div>
        </h4>
        <div class="text-muted mb-2">Emp ID: {{userData.userCode||""}}</div>
        <a class="btn btn-primary btn-sm" (click)="onEdit()">Edit</a>
    </div>
</div>

<div class="card">
    <div class="row no-gutters row-bordered">
        <div class="d-flex col-md align-items-center">
            <!-- <span *ngIf="loading">
                <app-spinner></app-spinner>
            </span> -->
            <div class="card-body d-block text-body">
                <div class="text-muted small line-height-1">Posts</div>
                <div class="text-xlarge">{{userData.role||""}}</div>
            </div>
        </div>

    </div>
    <div class="card-body">

        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td class="col-sm-4">Username:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>{{userData.email||""}}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">Name:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>{{userData.fName||""}}&nbsp;{{userData.lName||""}}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">E-mail:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>{{userData.email||""}}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">Company:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>StoreKing</td>
                </tr>
            </tbody>
        </table>

        <h6 class="mt-4 mb-3">Personal info</h6>

        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td>Birthday:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td></td>
                </tr>
                <tr>
                    <td class="col-sm-4">Address:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>
                        {{userData.address.doorNumber||""}},{{userData.address.street||""}},{{userData.address.area||""}},{{userData.address.landmark||""}},{{userData.address.city||""}},{{userData.address.state||""}}-{{userData.address.postalCode||0}}
                    </td>
                </tr>
            </tbody>
        </table>

        <h6 class="mt-4 mb-3">Contacts</h6>

        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td class="col-sm-4">Phone:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>{{userData.phone||0}}</td>
                </tr>
        </table>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td class="col-sm-4">verify user:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>
                        <!-- <a class="btn btn-primary btn-sm" (click)="onAccept(Active)">accept</a>&nbsp;
                        <a class="btn btn-danger btn-sm" (click)="onReject(Inactive)">Reject</a>&nbsp; -->
                    </td>
                </tr>
                <tr *ngIf="userData.role=='Admin'">
                    <td class="col-sm-4">Reset Password:</td>
                    <td>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" [(ngModel)]="resetPassword" class="form-control">
                                <button class="btn btn-primary btn-sm mt-2" (click)="onResetpsw()">Reset
                                    Password</button>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-4">Role:</td>
                    <!-- <span *ngIf="loading">
                        <app-spinner></app-spinner>
                    </span> -->
                    <td>
                        <span>{{userData.role||""}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-4">Status:</td>
                    <td>
                        <span class="badge badge-outline-success" *ngIf="userData.status=='Active'">Active</span>
                        <span class="badge badge-outline-default" *ngIf="userData.status=='Created'">Created</span>
                        <span class="badge badge-outline-danger" *ngIf="userData.status=='Blocked'">Blocked</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>