<h4 class="py-3 mb-4">
	<ol class="breadcrumb font-weight-bold m-0">
		<li class="breadcrumb-item"><a href="javascript:void(0)">Projects</a></li>
		<li class="breadcrumb-item active">{{userData.nameOfProject || "" }}</li>
	</ol>
</h4>

<!-- Header -->
<div class="container-m-nx border-right-0 border-left-0 ui-bordered mb-4">
	<div class="row no-gutters row-bordered row-border-light">
		<div class="col-md-12">
			<div class="container-p-x py-4">
				<div class="text-muted small">Status</div>
				<strong class="text-big">{{ userData.status || "" }}</strong>
				<a class="btn btn-primary btn-sm float-right" (click)="onEdit(userData._id || '')">Edit</a>
			</div>
		</div>
	</div>
</div>
<!-- / Header -->

<div class="row">
	<div class="col">
		<!-- Description -->
		<div class="card mb-4">
			<h6 class="card-header">Description</h6>
			<div class="card-body">{{ userData.projectDescription || "" }}</div>
		</div>
		<!-- / Description -->

		<div class="nav-tabs-top mb-4 ">
			<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
				<div>Tasks</div>
				<button type="button" class="btn btn-primary rounded-pill d-block" (click)="onAddTask()"><span
						class="ion ion-md-add"></span>&nbsp; Create
					Task</button>
			</h4>

			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered card-table">
							<thead>
								<tr>
									<th class="text-nowrap cursor-pointer">
										ID<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Title<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Type<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										created By<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Created On<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Status<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-center cursor-pointer">
										Actions<i class="ion text-muted ml-2"></i>
									</th>
								</tr>
							</thead>
							<!-- <span *ngIf="loading">
								<app-spinner></app-spinner>
							</span> -->
							<tbody>
								<tr *ngFor="let task of taskData">
									<td class="align-middle">{{task.taskCode||''}}</td>
									<td class="align-middle">{{task.title||""}}</td>
									<td class="align-middle">{{task.type||""}}</td>
									<td class="align-middle">{{task.createdBy||""}}</td>
									<td class="align-middle">{{task.createdAt |date: 'dd/MM/yyyy'||""}}</td>
									<td class="align-middle">
										<span class="">{{task.status||""}}</span>
									</td>
									<td class="text-center text-nowrap">
										<a class="btn btn-primary btn-sm" (click)="onView(task._id||'')">View</a>&nbsp;
										<a (click)="onDelete(task._id||'')" class="btn btn-danger btn-sm">Remove</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- / Table -->
			</div>
		</div>
	</div>

	<div class="col-md-4 col-xl-3">
		<!-- Project details -->
		<div class="card mb-4">
			<h6 class="card-header">Project details</h6>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">ID</div>
					<!-- <span *ngIf="loading">
						<app-spinner></app-spinner>
					</span> -->
					<div>
						{{ userData.projectCode || "" }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">Created by</div>
					<!-- <span *ngIf="loading">
						<app-spinner></app-spinner>
					</span> -->
					<div>{{ userData.createdBy || "" }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">Created at</div>
					<!-- <span *ngIf="loading">
						<app-spinner></app-spinner>
					</span> -->
					<div>{{ userData.createdOn | date: "dd/MM/yyyy" || "" }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">Started</div>
					<!-- <span *ngIf="loading">
						<app-spinner></app-spinner>
					</span> -->
					<div>{{ userData.startDate | date: "dd/MM/yyyy" || "" }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">Deadline</div>
					<!-- <span *ngIf="loading">
						<app-spinner></app-spinner>
					</span> -->
					<div>{{ userData.endDate | date: "dd/MM/yyyy" || "" }}</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<div class="text-muted">Priority</div>
					<div class="btn-group" ngbDropdown>
						<button type="button" class="btn btn-xs md-btn-flat" ngbDropdownToggle>
							<span *ngIf="curOpt == 'high'">High</span>
							<span *ngIf="curOpt == 'medium'">Medium</span>
							<span *ngIf="curOpt == 'low'">Low</span>
						</button>
						<div ngbDropdownMenu>
							<a class="dropdown-item" (click)="curOpt = 'high'">High</a>
							<a class="dropdown-item" (click)="curOpt = 'medium'">Medium</a>
							<a class="dropdown-item" (click)="curOpt = 'low'">Low</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- / Project details -->

		<!-- Leaders -->
		<div class="card mb-4">
			<h6 class="card-header with-elements">
				<span class="card-header-title">Leaders</span>
			</h6>
			<ul class="list-group list-group-flush">
				<div class="list-group-item">
					<div class="media align-items-center">
						<div class="media-body px-2">
							<!-- <span *ngIf="loading">
								
							</span> -->
							<a  class="text-body">{{ userData.handledBy.fName }}&nbsp;{{userData.handledBy.lName}}</a>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<!-- / Leaders -->

		<!-- Participants -->
		<div class="card mb-4">
			<h6 class="card-header with-elements">
				<span class="card-header-title">Participants</span>
			</h6>
			<ul class="list-group list-group-flush">
				<div class="list-group-item" *ngFor="let member of userData.members">
					<div class="media align-items-center">
						<div class="media-body px-2">
							<!-- <span *ngIf="loading">
								
							</span> -->
							<a  class="text-body">{{member.fName }}&nbsp;{{member.lName }}</a>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<!-- / Participants -->
	</div>
</div>