<h4>
	<ol class="breadcrumb font-weight-bold mb-4">
		<li class="breadcrumb-item"><a href="javascript:void(0)">Projects</a></li>
		<li class="breadcrumb-item">{{project.data.nameOfProject || "" }}</li>
	</ol>

	<div class=" mb-4 pl-2 row">
		<div class="pt-2 col-md-7">
			Project Status
		</div>
		<div class="col-md">
			<div type="button" class="btn btn-default ml-2" (click)="totalTask()">Total Tasks:
				<span class="badge">{{task.filter.length||0}}</span>
			</div>
			<div type="button" class="btn btn-primary ml-2" (click)="createdTask()">Tasks Created:
				<span class="badge">{{statusCount.data.message.createdStatus}}</span>
			</div>
			<div type="button" class="btn btn-warning ml-2" (click)="inProgressTask()">Tasks In Progress:
				<span class="badge">{{statusCount.data.message.progessStatus}}</span>
			</div>
			<div type="button" class="btn btn-success ml-2" (click)="completedTask()">Tasks Done:
				<span class="badge">{{statusCount.data.message.doneStatus}}</span>
			</div>
		</div>
	</div>

	<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold">Tasks
		<button type="button" class="btn btn-primary rounded-pill d-block" (click)="onAddTask()"><span
				class="ion ion-md-add"></span>&nbsp; Create
			Task</button>
	</h4>
</h4>

<!-- Filters -->
<div class="ui-bordered mb-4 pl-2 row text-center text-capitalize">
	<div class=" form-group">
		<label class="form-label">Created On</label>
		<custom-daterange-picker [(ngModel)]="date"></custom-daterange-picker>
	</div>
	<div class="col-md mb-4">
		<label class="form-label">Title</label>
		<select class="custom-select" [(ngModel)]="title">
			<option class="text-capitalize" *ngFor="let task of task.filter" [value]="task.title">{{task.title}}
			</option>
		</select>
	</div>
	<div class="col-md mb-4">
		<label class="form-label">Assigne</label>
		<select class="custom-select" [(ngModel)]="assigne">
			<option class="text-capitalize" *ngFor="let user of user.data" [value]="user.fName">
				{{user.fName}}</option>
		</select>
	</div>
	<div class="col-md mb-4">
		<label class="form-label">Status</label>
		<select class="custom-select text-capitalize" [(ngModel)]="statusFilter">
			<option class="text-capitalize" *ngFor="let status of ['Created', 'progress','Done']" [value]="status">
				{{status}}</option>
		</select>
	</div>

	<div class="col-md col-xl-2 mb-4">
		<label class="form-label d-none d-md-block">&nbsp;</label>
		<button type="button" class="btn btn-secondary btn-block" (click)="onFilter()">Filter</button>
	</div>
	<!-- / Filters -->
</div>

<h4 *ngIf="task.data.length==0" class="card text-center px-5 py-2">
	No Data Found
</h4>

<div class=" card" *ngIf="task.data.length!=0">
	<!-- Table controls -->
	<div class="card-body">

		<div class="row mb-2">
			<div class="col">
				Total Of Number Tasks: &nbsp;
				<span *ngIf="project.loading">
					<app-spinner></app-spinner>
				</span>
				<span *ngIf="!project.loading">{{task.filter.length||0}}</span>
			</div>
		</div>

		<!-- </div> -->
		<!-- / Table controls -->

		<!-- <div class="card-body"> -->
		<div class="row d-flex">
			<ul class="list-group col-md-2">
				<li class="list-group-item p-3" *ngFor="let task of task.data;index as i"
					[ngClass]="{active: curTab._id === task._id}" (click)="getTaskTab(task)">
					<div class="row">
						<div class="col-md-2">
							{{i+1}}.
						</div>
						<div class="col-md-8">
							<div class="text-capitalize font-weight-bold">{{task.title || "" }}</div>
							<div>
								<span>{{task.taskCode}}</span>
							</div>
						</div>
						<div class="col-md-2">
							<img src="assets/profile.png" class="ui-w-30 rounded-circle float-md-right"
								[ngbTooltip]="task.member.name" alt>
						</div>
					</div>
				</li>
			</ul>
			<div class="col-sm-9 card">
				<div class="card-body row">
					<div class="col-md-8">
						<h4 class="text-capitalize font-weight-bold">{{curTab.title || "" }}</h4>
					</div>
					<div class="col-md-4">
						<div class="ml-2"><span><img src="assets/profile.png" class="ui-w-30 rounded-circle" [ngbTooltip]=""
									alt></span>
							<span>{{curTab.member.name}}</span>
						</div>
						<div class="d-flex mt-2">
							<select class="custom-select text-capitalize col-md-4 mx-2" [(ngModel)]="status">
								<option class="text-capitalize" *ngFor="let status of ['Created', 'progress','Done']" [value]="status">
									<span
										[ngClass]="(status=='Done')?'bg-success':(status=='progress')?'bg-warning':'bg-primary'">{{status}}</span>
								</option>
							</select>
							<button class="btn btn-primary" (click)="save($event)">save</button>
						</div>
					</div>
				</div>
				<div class="card-body px-3">
					<h5>Description</h5>
					<div class="row no-gutters">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<input *ngIf="!quillShow" type="text" readOnly class="form-control text-capitalize"
								placeholder="Add Description" (click)="onInputClick('description')">
							<quill-editor placeholder="Add Description" [(ngModel)]="quillData" *ngIf="quillShow"></quill-editor>
							<div class="mt-3" *ngIf="quillShow">
								<a class="btn btn-primary" (click)="save('description')">Save</a>&nbsp;<a class="btn btn-default"
									(click)="Cancel('description')">Cancel</a>
							</div>
						</div>
						<div class="m-2" [innerHtml]="curTab.description"></div>
					</div>
				</div>

				<!-- Attached files -->
				<div class="card-body p-3">
					<h5>Attached files</h5>
					<div class="row no-gutters">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<input *ngIf="!quilAttachmentShow" type="text" readOnly class="form-control text-capitalize"
								placeholder="Add Description" (click)="onInputClick('attachment')">
							<quill-editor placeholder="Add Description" [(ngModel)]="quillAttachment" *ngIf="quilAttachmentShow">
							</quill-editor>
							<div class="mt-3" *ngIf="quilAttachmentShow">
								<a class="btn btn-primary" (click)="save('attachment')">Save</a>&nbsp;<a class="btn btn-default"
									(click)="Cancel('attachment')">Cancel</a>
							</div>
						</div>
						<div class="m-2 w-50 img" [innerHTML]="curTab.attachment[0]"></div>
					</div>
					<!-- / Attached files -->
				</div>

				<div class="nav-tabs-top mb-4 ">
					<div class="card-body p-3">
						<h5>Comments</h5>
						<div class="row no-gutters">
							<div class="col-md-12 col-lg-12 col-xl-12 d-flex">
								<span class="col-sm-0">
									<img src="assets/profile.png" class="ui-w-40 rounded-circle" alt>
								</span>
								<span class="col-sm-12 mr-5">
									<input *ngIf="!quillcommentShow" type="text" readOnly class="form-control w-98" placeholder="Comment"
										(click)="onInputClick('comment')">
									<quill-editor [(ngModel)]="comment" *ngIf="quillcommentShow"></quill-editor>

									<div class="mt-3" *ngIf="quillcommentShow">
										<a class="btn btn-primary" (click)="postComment()">Send</a>&nbsp;<a class="btn btn-default"
											(click)="Cancel('comment')">Cancel</a>
									</div>
								</span>
							</div>
						</div>
					</div>

					<!-- Attached files -->
					<div class="card-body p-3">
						<div class="row no-gutters">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<div class="media-body">
									<span *ngIf="viewComment.loading">
										<app-spinner></app-spinner>
									</span>
									<div class="project-attachment-filename" *ngIf="!viewComment.loading">
										<div *ngFor="let view of viewComment.data">
											<div class="bg-lighter mb-2  p-2 rounded">
												<span>
													<img src="assets/profile.png" class="ui-w-40 rounded-circle" alt>
													<span class="text-secondry small text-nowrap pl-1 mt-2">{{view.createdBy}}&nbsp;
														&nbsp;{{view.createdAt}}</span>
												</span>
												<span class="btn-group" ngbDropdown>
													<button type="button"
														class="btn btn-default btn-xs rounded-pill icon-btn borderless lg-btn-vertical hide-arrow"
														ngbDropdownToggle><i class="ion ion-ios-more"></i></button>
													<div ngbDropdownMenu>
														<a class="dropdown-item">Edit</a>
														<a class="dropdown-item" (click)="removeComment(view._id)">Remove</a>
													</div>
												</span>
												<div class="p-3" [innerHTML]="view.attachments[0]"></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- / Attached files -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>