<h4>
	<ol class="breadcrumb font-weight-bold mb-4">
		<li class="breadcrumb-item"><a href="javascript:void(0)">Projects</a></li>
		<li class="breadcrumb-item">{{project.data.nameOfProject || "" }}</li>
	</ol>
	<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold">Tasks
		<button type="button" class="btn btn-primary rounded-pill d-block" (click)="onAddTask()"><span
				class="ion ion-md-add"></span>&nbsp; Create
			Task</button>
	</h4>
</h4>


<div class="row">
	<div class="col">

		<div class="nav-tabs-top mb-4 text-center">

			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered card-table">
							<thead>
								<tr>
									<th class="text-nowrap cursor-pointer">
										Sl.No<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										ID<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Summary<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Description<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Type<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Assignee<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Reporter<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Status<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Created<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Updated<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-nowrap cursor-pointer">
										Due<i class="ion text-muted ml-2"></i>
									</th>
									<th class="text-center cursor-pointer">
										Actions<i class="ion text-muted ml-2"></i>
									</th>
								</tr>
							</thead>
							<span *ngIf="task.loading">
								<app-spinner></app-spinner>
							</span>
							<tbody *ngIf="!task.loading">
								<tr *ngFor="let task of task.data;index as i">
									<td class="align-middle">{{i+1}}</td>
									<td class="align-middle">{{task.taskCode||''}}</td>
									<td class="align-middle"><a href="javascript:void(0)" (click)="onView(task._id||'')">{{task.title||""}}</a></td>
									<td class="align-middle">{{task.description||""}}</td>
									<td class="align-middle">{{task.type||""}}</td>
									<td class="align-middle">{{task.member.name||""}}</td>
									<td class="align-middle">{{task.createdBy||""}}</td>
									<td class="align-middle">
										<span *ngIf="task.status=='Created'"
											[ngClass]="(task.status=='Created')?'badge badge-default':''">{{task.status||""}}</span>
										<span *ngIf="task.status=='Pending'"
											[ngClass]="(task.status=='Pending')?'badge badge-warning':''">{{task.status||""}}</span>
										<span *ngIf="task.status=='Progress'"
											[ngClass]="(task.status=='Progress')?'badge badge-primary':''">{{task.status||""}}</span>
										<span *ngIf="task.status=='Complete'"
											[ngClass]="(task.status=='Complete')?'badge badge-success':''">{{task.status||""}}</span>
										<span *ngIf="task.status=='Rejected'"
											[ngClass]="(task.status=='Rejected')?'badge badge-danger':''">{{task.status||""}}</span>
									</td>
									<td class="align-middle">{{task.createdAt |date: 'dd/MM/yyyy'||""}}</td>
									<td class="align-middle">{{task.updatedAt |date: 'dd/MM/yyyy'||""}}</td>
									<td class="align-middle">{{task.toDate |date: 'dd/MM/yyyy'||""}}</td>
									<td class="text-center text-nowrap">
										<a class="btn btn-primary btn-sm" (click)="onView(task._id||'')">View</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- / Table -->
			</div>
		</div>
	</div>