<!-- Header -->
<div class="container-m-nx container-m-ny bg-white mb-4">
  <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
    <img src="assets/profile.png" alt class="d-block ui-w-100 rounded-circle">
    <!-- <span *ngIf="loading">
      <app-spinner></app-spinner>
    </span> -->
    <div class="media-body ml-5">
      <h4 class="font-weight-bold mt-2">{{userData.fName}}&nbsp;{{userData.lName}}</h4>
      <div class="text-muted mb-4">
        Emp ID: {{userData.userCode}}
      </div>
    </div>
  </div>
  <hr class="m-0">
</div>
<!-- Header -->

<div class="row">
  <div class="col">

    <!-- Info -->
    <div class="card mb-4">
      <div class="card-body">

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Date Of Joining:</div>
          <!-- <span *ngIf="loading">
            <app-spinner></app-spinner>
          </span> -->
          <div class="col-md-9">
            {{userData.date|date:"dd/MM/yyyy"}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Country:</div>
          <div class="col-md-9">
            India
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Address:</div>
          <!-- <span *ngIf="loading">
            <app-spinner></app-spinner>
          </span> -->
          <div class="col-md-9">
            {{userData.address.doorNumber}},{{userData.address.street}},{{userData.address.landmark}},{{userData.address.area}},{{userData.address.city}},{{userData.address.state}}-{{userData.address.postalCode}}
          </div>
        </div>

        <h6 class="my-3">Contacts</h6>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Phone:</div>
          <!-- <span *ngIf="loading">
            <app-spinner></app-spinner>
          </span> -->
          <div class="col-md-9">
            {{userData.phone}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Email:</div>
          <!-- <span *ngIf="loading">
            <app-spinner></app-spinner>
          </span> -->
          <div class="col-md-9">
            {{userData.email}}
          </div>
        </div>


      </div>
    </div>
    <!-- / Info -->

  </div>
  <div class="col-xl-4">

    <!-- Side info -->
    <div class="card mb-4">
      <div class="card-body">
        <p class="mb-2">
          <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i> Developer
        </p>
        <p class="mb-2">
          <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i>
          {{userData.address.city}},{{userData.address.state}},India
        </p>
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        <a href="javascript:void(0)" class="d-block text-body mb-2">
          <i class="ion ion-logo-twitter ui-w-30 text-center text-twitter"></i> @edn
        </a>
        <a href="javascript:void(0)" class="d-block text-body mb-2">
          <i class="ion ion-logo-facebook ui-w-30 text-center text-facebook"></i> dnej
        </a>
        <a href="javascript:void(0)" class="d-block text-body mb-0">
          <i class="ion ion-logo-instagram ui-w-30 text-center text-instagram"></i> doiejwo
        </a>
      </div>
    </div>
    <!-- / Side info -->


  </div>
</div>