<!-- Header -->
<div class="container-m-nx container-m-ny bg-white mb-4">
  <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
    <img src="assets/profile.png" alt class="d-block ui-w-100 rounded-circle">
    <div class="media-body ml-5">
      <h4 class="font-weight-bold mt-2">syed</h4>
      <div class="text-muted mb-4">
        hello im developer(description).
      </div>

    </div>
  </div>
  <hr class="m-0">
</div>
<!-- Header -->

<div class="row">
  <div class="col">

    <!-- Info -->
    <div class="card mb-4">
      <div class="card-body">

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Birthday:</div>
          <div class="col-md-9">
            Dec 12, 1997
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Country:</div>
          <div class="col-md-9">
            <a href="javascript:void(0)" class="text-body">India</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Address:</div>
          <div class="col-md-9">
            <a href="javascript:void(0)" class="text-body">xyz,karnataka</a>
          </div>
        </div>

        <h6 class="my-3">Contacts</h6>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Phone:</div>
          <div class="col-md-9">
            9384556957
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 text-muted">Email:</div>
          <div class="col-md-9">
            syed@gmail.com
          </div>
        </div>


      </div>
    </div>
    <!-- / Info -->

    <!-- Skills -->
    <div class="card mb-4">
      <div class="card-header">Skills</div>
      <div class="card-body">

        <div class="mb-1">HTML - <small class="text-muted">80%</small></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar bg-secondary" style="width: 80%;"></div>
        </div>

        <div class="mb-1">CSS - <small class="text-muted">95%</small></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar bg-success" style="width: 95%;"></div>
        </div>

        <div class="mb-1">Javascript - <small class="text-muted">90%</small></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar bg-warning" style="width: 90%;"></div>
        </div>

        <div class="mb-1">bootstarp <small class="text-muted">80%</small></div>
        <div class="progress" style="height: 4px;">
          <div class="progress-bar bg-danger" style="width: 80%;"></div>
        </div>

      </div>
      <a href="javascript:void(0)" class="card-footer d-block text-center text-body small font-weight-semibold">SHOW ALL
        SKILLS</a>
    </div>
    <!-- / Skills -->
  </div>
  <div class="col-xl-4">

    <!-- Side info -->
    <div class="card mb-4">
      <div class="card-body">
        <p class="mb-2">
          <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i> developer
        </p>
        <p class="mb-2">
          <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i> karnataka,Indiaa
        </p>
      </div>
      <hr class="border-light m-0">
      <div class="card-body">
        <a href="javascript:void(0)" class="d-block text-body mb-2">
          <i class="ion ion-logo-twitter ui-w-30 text-center text-twitter"></i> @edn
        </a>
        <a href="javascript:void(0)" class="d-block text-body mb-2">
          <i class="ion ion-logo-facebook ui-w-30 text-center text-facebook"></i> dnej
        </a>
        <a href="javascript:void(0)" class="d-block text-body mb-0">
          <i class="ion ion-logo-instagram ui-w-30 text-center text-instagram"></i> doiejwo
        </a>
      </div>
    </div>
    <!-- / Side info -->


  </div>
</div>