<div class="row">
  <div class="col-sm-12 card">

    <!-- Side info -->
    <div class="card-body row">
      <div class="col-sm-5">
        <div class="media">
          <img src="assets/profile.png" alt class="ui-w-120 rounded-circle mt-3">
          <div class="media-body pt-2 m-5">
            <h3 class="mb-2">syed</h3>
            <div class="text-muted small">web developer</div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-5">
        <div class="mb-2">
          <span class="text-muted">Email:</span>&nbsp;
          syed@gmail.com
        </div>
        <div class="mb-2">
          <span class="text-muted">Birthday:</span>&nbsp;
          Dec 12, 1997
        </div>
        <div class="mb-2">
          <span class="text-muted">Country:</span>&nbsp;
          <a href="javascript:void(0)" class="text-body">India</a>
        </div>
        <div class="mb-2">
          <span class="text-muted">Date Of Birth</span>&nbsp;
          <a href="javascript:void(0)" class="text-body">Dec 12,1997</a>
        </div>
        <div class='mb-2'>
          <span class="text-muted">Phone:</span>&nbsp;
          9738455695
        </div>
        <div class="mb-2">
          <span class="text-muted">user Name:</span>&nbsp;
          syednouman
        </div>
        <div class="mb-2">
          <span class="text-muted">Bio:</span>&nbsp;
          <a href="javascript:void(0)" class="text-body">hello</a>
        </div>
      </div>
    </div>
    <!-- / Side info -->

  </div>  
</div>