<h4 class="font-weight-bold py-3 mb-4">
    Account settings
</h4>

<div class="card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">

                <button type="button" class="list-group-item list-group-item-action"
                    (click)="curTab = 'password'">Change password</button>

            </div>
        </div>

        <div class="col-md-9" *ngIf="curTab == 'password'">
            <form class="card-body pb-2" [formGroup]="formGroup">

                <div class="form-group">
                    <label class="form-label">Current password</label>
                    <input type="password" formControlName="currentpsw" class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-label">New password</label>
                    <input type="text" formControlName="newpsw" class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-label">Repeat new password</label>
                    <input type="password" formControlName="repeatnewpsw" class="form-control">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="text-right mt-3">
    <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
    <button type="button" class="btn btn-default">Cancel</button>
</div>