<div class="authentication-wrapper authentication-3">
    <div class="authentication-inner d-flex justify-content-center">

        <!-- Form container -->
        <div class="theme-bg-white col-lg-4 pt-5" style="margin-top:5%">
            <!-- Inner container -->
            <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
            <div class=" col-sm-7 col-md-5 col-lg-12">
                <div class="w-100">

                    <!-- Logo -->
                    <div class="d-flex justify-content-center">
                        <img src="assets/sk.jpeg" class="w-ui-30" alt="">
                    </div>
                    <!-- / Logo -->

                    <h4 class="text-center text-lighter font-weight-normal mb-0">Change password</h4>

                    <!-- Form -->
                    <form class="card-body pb-2" [formGroup]="formGroup">

                        <div class="form-group">
                            <label class="form-label">Current password</label>
                            <input type="password" formControlName="currentpsw" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-label">New password</label>
                            <input type="text" formControlName="newpsw" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Repeat new password</label>
                            <input type="password" formControlName="repeatnewpsw" class="form-control">
                        </div>

                    </form>
                    <!-- / Form -->
                    <div class="text-right m-3">
                        <button type="button" class="btn btn-primary btn-md" (click)="onSaveChanges()">Save
                            changes</button>&nbsp;
                        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- / Form container -->

    </div>
</div>