<h4 class="font-weight-bold py-3 mb-4" *ngIf="viewProject.exists">
	Edit Project
	<span *ngIf="viewProject.loading">
		<app-spinner></app-spinner>
	</span> <span *ngIf="!viewProject.loading" class="text-muted">#{{viewProject.data.projectCode||""}}</span>
</h4>
<h4 class="font-weight-bold py-3 mb-4" *ngIf="!viewProject.exists">
	Add Project
</h4>

<div class="card">
	<div class="card-body">
		<span *ngIf="viewProject.loading">
			<app-spinner></app-spinner>
		</span>
		<form action="" [formGroup]="formGroup" *ngIf="!viewProject.loading">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label">Project Name<span class="text-danger">*</span></label>
					<input type="text" formControlName="name" class="form-control">
				</div>
				<div class="form-group col-md-6">
					<label class="form-label">Handled By<span class="text-danger">*</span></label>
					<ng-select [items]="user.data" [closeOnSelect]="true" bindLabel="fName" [hideSelected]="true"
						formControlName="lead">
					</ng-select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label">Members<span class="text-danger">*</span></label>
					<ng-select [items]="user.data" [closeOnSelect]="false" [multiple]="true" bindLabel="fName"
						[hideSelected]="true" formControlName="user">
					</ng-select>
				</div>
				<div class="form-group col-md-6">
					<label class="form-label">description<span class="text-danger">*</span></label>
					<textarea type="text" placeholder="Project Descrption" class="form-control"
						formControlName="description"></textarea>
				</div>
			</div>
		</form>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="form-label">Attachment<span class="text-danger">*</span></label>
				<input type="file" formControlName="attachment" class="">
			</div>
			<div class="form-group col-md-6">
				<label class="form-label">Created-Dedline<span class="text-danger">*</span></label>
				<custom-daterange-picker i="date"></custom-daterange-picker>
			</div>
		</div>
	</div>
</div>

<div class="text-right mt-3">
	<button type="button" class="btn btn-primary" (click)="onApiCall()">
		<span *ngIf="!viewProject.exists">
			Add</span><span *ngIf="viewProject.exists">Edit</span>
	</button>&nbsp;
	<button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>