<h4 class="font-weight-bold py-3 mb-4">
    Edit Role <span class="text-muted">#{{userData.userCode</span>
</h4>
<h4 class="font-weight-bold py-3 mb-4">
    Add Role
</h4>

<form action="" [formGroup]="formGroup">
    <div class="card mb-2">
        <div class="card-body pb-2">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Role Name<span class="text-danger">*</span></label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body pb-2">

            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'all'">All</button>
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'features'">Features</button>
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'roles'">Roles</button>
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'projects'">Projects</button>
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'users'">Users</button>
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="curTab = 'tasks'">Task</button>
                        </div>
                    </div>
                    <div class="col-md-9" *ngIf="curTab === 'all'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>


                    <div class="col-md-9" *ngIf="curTab === 'features'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>
                    <div class="col-md-9" *ngIf="curTab === 'roles'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>
                    <div class="col-md-9" *ngIf="curTab === 'projects'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>
                    <div class="col-md-9" *ngIf="curTab === 'users'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>
                    <div class="col-md-9" *ngIf="curTab === 'tasks'">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Id</span>-
                            <span class="custom-control-label">feature Name</span>-
                            <span class="custom-control-label">module Name</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-right mt-3">
    <button type="button" class="btn btn-primary" (click)="onApiCall()">
        <span>
            Add</span><span>Edit</span>
    </button>&nbsp;
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>