<div class="card">
    <div class="row no-gutters row-bordered">
        <div class="d-flex col-md align-items-center">
            <div class="card-body d-block text-body">
                <div class="text-muted small line-height-1">Feature</div>
                <span *ngIf="feature.loading">
                    <app-spinner></app-spinner>
                </span>
                <div *ngIf="!feature.loading" class="text-xlarge">{{feature.data.featureName||""}}</div>
                <span *ngIf="feature.loading">
                    <app-spinner></app-spinner>
                </span>
                <div *ngIf="!feature.loading" class="text-xlarge">{{feature.data.featureCode||""}}</div>
                <a class="btn btn-primary btn-sm" (click)="onEdit(feature.data._id||'')">Edit</a>
            </div>
        </div>

    </div>
    <div class="card-body">

        <table class="table user-view-table m-0">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <span *ngIf="feature.loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!feature.loading">{{feature.data.createdBy||""}}</td>
                </tr>
                <tr>
                    <td>description:</td>
                    <span *ngIf="feature.loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!feature.loading"><span [innerHTML]="feature.data.decription"></span></td>
                </tr>
                <tr>
                    <td>fetureName:</td>
                    <span *ngIf="feature.loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!feature.loading">{{feature.data.featureName||""}}</td>
                </tr>
                <tr>
                    <td>ModuleName:</td>
                    <span *ngIf="feature.loading">
                        <app-spinner></app-spinner>
                    </span>
                    <td *ngIf="!feature.loading">{{feature.data.moduleName||""}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>